:root {
    --sidebar-width:40ch;
    --header-height: 3.5em;

    --group-width:45ch;
}

html, body {
    background: #000;
}
h1 {
    font-size:2rem;
}

h2 {
    font-size:1.2rem;
}

#overlay {
    position:absolute;
    top:0;

    height:100vh;
    width:100%;

    padding:0;
    margin:0;

    transition-duration:0.3s;

    background:#0000;

    pointer-events: none;

    z-index: 1000;

    &:has(> *[state="open"]) {
        background:#0009;
        pointer-events: initial;
    }

    #sidebar {
        display:flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;

        margin:0;
        padding:2ch;

        width: calc(var(--sidebar-width) - 4ch);
        height:calc(100% - 4ch);
        background:var(--primary);

        transition-duration:0.3s;

        &[state="closed"] {
            transform:translateX(-100%);
        }

        & > div {
            width:100%;
        }

        hr {
            border-style:none;
            height:2px;
            border-radius:1000px;
            background:var(--border-color);
        }

        #title {
            display:flex;
            justify-content: space-between;
            align-items: center;

            img {
                height:1em;
                opacity: 0.5;

                cursor:pointer;

                transition-duration:0.3s;

                &:hover {
                    opacity: 1;
                }
            }
        }

        #projects {
            margin-top:0.5em;

            h1 {
                font-size:1.4rem;
                padding:0;
            }

            #container {
                border-left-style:solid;
                border-color:var(--border-color);
                border-width:3px;

                margin-top:1ch;
                margin-left:1ch;
                padding-left:1.2ch;

                h2 {
                    margin:0;
                    padding:0.4em 1.5ch;
                    border-radius:var(--border-radius);

                    cursor:pointer;

                    transition-duration:0.3s;

                    &:hover {
                        background:#5551;
                    }

                    &[selected] {
                        background:var(--tertiary);
                    }
                }
            }
        }

        #teams {
            user-select: none;

            #title {
                display:flex;
                justify-content: space-between;
                align-items: center;

                padding:1ch 2ch;
                border-radius:var(--border-radius);

                background:var(--tertiary);

                cursor:pointer;

                img {
                    height:0.8em;
                    opacity: 0.5;
                }
            }

            #choices {
                display:none;

                position:absolute;

                max-width: calc(var(--sidebar-width) - 6ch);

                margin-top:0.3em;
                padding: 1ch 1ch;
                border-radius:var(--border-radius);

                background:var(--secondary);

                h2 {
                    overflow:hidden;

                    white-space: nowrap;
                    text-overflow: ellipsis;

                    padding:0.5ch 1ch;
                    border-radius:var(--border-radius);

                    cursor:pointer;

                    &:hover {
                        background:var(--tertiary);
                    }
                }

                &[state="open"] {
                    display:initial;
                }
            }
        }

        #self {
            display:flex;
            justify-content: space-between;
            align-items: center;

            margin:2ch 0 1ch 0;
            width:100%;

            img {
                height:2rem;

                opacity: 0.5;

                cursor:pointer;
            }

            #username {
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                margin-left:1.5ch;
            }

            span {
                display:flex;
                align-items: center;
                flex-direction: row;

                width:calc(95% - 2rem);
            }
        }
    }
}

#parent {
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    min-width: 100%;
    min-height:100vh;
    
    #header {
        position:sticky;
        top:0;

        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        background:var(--secondary);
        width:100%;
        height:var(--header-height);

        #project-info {
            display:flex;
            align-items: center;

            height:100%;
            width:fit-content;

            img {
                cursor:pointer;
    
                padding:0.8em;
                height:calc(100% - 1.6em);
            }
    
            h2 {
                font-size:1.4rem;
            }
        }

        #members {
            display:flex;
            justify-content:start;
            align-items: center;

            flex-direction: row-reverse;

            height:100%;
            margin-right:3ch;

            img, div {
                border-radius:1000px;
                border-style:solid;
                border-color:var(--border-color);
                margin-left:-0.7rem;

                height:2rem;
                aspect-ratio: 1;

                transition-duration:0.3s;
            }

            div {
                display:flex;
                justify-content: center;
                align-items: center;

                background: var(--main);

                h2 {
                    font-size:1rem;
                }
            }
        }
    }

    #container {
        display:flex;
        justify-content: start;
        align-items: start;

        flex-direction: row;

        margin:2ch;

        width:calc(100% - 4ch);
        min-height: calc(100vh - var(--header-height) - 4ch);

        .group {
            width:var(--group-width);

            height:50ch;

            &:hover {
                #title span img {
                    margin-right:1.5ch;
                    width: 1.2rem;
                }
            }

            #title {
                display:flex;
                justify-content: space-between;
                align-items: center;

                margin-bottom:0.5em;

                span {
                    display:flex;
                    justify-content: start;
                    align-items: center;

                    img {
                        transition-duration:0.3s;
                        width:0;

                        cursor:grab;
                    }

                    h3 {
                        font-size: 2rem;
                    }
                }

                img {
                    height:1.2rem;
                    margin-right:0.5ch;

                    opacity: 0.5;

                    cursor:pointer;
                }
            }

            .task {
                background:var(--secondary);

                border-radius:var(--border-radius);

                padding:3ch;
                margin-bottom:1em;

                width:calc(100% - 6ch);

                #tags {
                    display:flex;
                    justify-content: start;
                    align-items: center;

                    margin-bottom: 0.5em;

                    h4 {
                        font-size:1.3rem;
                        background:crimson;
                        padding:0.1em 1ch;
                        margin-right:1ch;
                        border-radius:10px;
                    }
                }

                #title {
                    display:flex;
                    justify-content: start;
                    align-items:center;

                    img {
                        cursor:grab;
                    }
                }

                #additional {
                    margin-top:2em;
                }

                #comments {
                    display:flex;
                    justify-content: start;
                    align-items: center;

                    h4 {
                        font-size:1.2rem;
                        margin-right: 0.5ch;
                    }

                    img {
                        height:1.2rem;
                    }
                }
            }
        }
    }
}
